<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yy.doorplate"
    android:versionCode="3000"
    android:versionName="6.0.12" >

    <!--<uses-sdk android:targetSdkVersion="19" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_DAILOG_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.yy.doorplate.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <!--.接收启动完成的广播-->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yy.doorplate.activity.EmptyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXSchoolNewFullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXNoticeDetailsBannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXXKStudentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXFullAttendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXClassNewFullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.PjMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.ExamActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.InitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.ClassInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.NoticeListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.NoticeDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.AttendInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.CurriculumActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.ControlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.VideoCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.VideoCallOtherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.CallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.NetSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.SettingClassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.TeacherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.AddSceneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.SceneInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.SchoolNewActitivty"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.ClassNewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.HonorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.QuestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.ZhiriActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.SchoolDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.PjNoticeListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.WebviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.advertisement.activity.DisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.advertisement.activity.ActivityAppcodeo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.SettingMoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.yy.doorplate.activity.VideoListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXClassNewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXNoticeListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXNoticeDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXStudentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXGrxxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXHonorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXPhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXQuestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXVoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXSchoolNewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXTeacherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.cx.doorplate.activity.CXSingleTeacherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXAppActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXCurriculumActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXAttendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXAttendBJActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXControlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXJingBaoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cx.doorplate.activity.CXFaceRegister"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service android:name="com.yy.doorplate.communication.MonitorService" >
            <intent-filter>
                <action android:name="com.yy.doorplate.communication.MonitorService" />
            </intent-filter>
        </service>
        <service android:name="com.yy.doorplate.tool.LogService" >
        </service>

        <activity
            android:name="com.cx.doorplate.activity.CXWeatherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>